# Rust
/target
/src-tauri/target
**/*.rs.bk
Cargo.lock

# Node
node_modules
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.assets
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

# Tauri
/src-tauri/Cargo.lock
*.exe
*.dll





